html {
    text-align: center;
    font-family: monospace;
}
body {
    display: block;
    margin: 8px;
}

.calculator {
    display: flex;
    min-height: 95vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: azure;
}

.calc-container {
    background-color: black;
    border: 10px solid rgba(47, 47, 47, 1);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(100px, auto) repeat(5, 80px);
    gap: 2px;
}

.display-screen {
    grid-column: 1 / -1;
    background-color: #b2b9b7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 5px;
    font-size: 5.5em;
    font-weight: initial;
    text-shadow: 1.3px 1.3px #383838;
    margin: 5px;
    overflow-x: auto; /* Allow horizontal scrolling */
    white-space: nowrap; /* Prevent text from wrapping */
}


button {
    margin: 1px;
    border-radius: 5%;
    border: none;
    font-weight: initial;
    font-size: 2em;
    font-family: monospace;
    color: black;
}
.clear, .sign, .modulo {
    background-color: dodgerblue;
}
.operator {
    background-color: #FF8F1F;
}
.number {
    background-color: darkslategrey;
}
#zero {
    grid-column: span 2;
}

/* Add this to your style.css */
.button-clicked {
    background-color: #666;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    transition: background-color 0.1s ease, box-shadow 0.1s ease;
}
